body {
    font-family: Helvetica;
    font-size: 40px;
    line-height: 1.5;
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section {
    border-style: solid;
    border-width: 5px;
}

div{
    margin: 0.5em;
}

input {
    margin: 0.25em 0 0 0;
}

label, input {
    display: flex;
    font-size: 20px;
}

.sub {
    margin-left: 143px;
}

button {
    height: 29px;
    width: 30px;
}